h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baskervville", serif;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.text {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.link {
  color: #ff9c00;
  text-decoration: none;
}
.text-sm {
  font-size: 12px;
}
.error {
  color: red;
}

.hide {
  visibility: hidden;
  display: none;
}
.typing {
  font-style: italic;
}
.text-desc {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgb(107, 107, 107);
}
.avatar {
  width: 100px;
  border-radius: 50%;
}
.text-bigger {
  font-size: 17px;
  width: 65%;
}

.password-button {
  color: red;
}
