h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baskervville", serif;
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.text {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.start {
  display: flex;
  justify-content: flex-start;
}

.link {
  color: #ff9c00;
  text-decoration: none;
}
.text-sm {
  font-size: 12px;
}
.error {
  color: red;
}

.hide {
  visibility: hidden;
  display: none;
}
.typing {
  font-style: italic;
}
.text-desc {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgb(107, 107, 107);
}
.avatar {
  width: 120px;
  border-radius: 50%;
}
.text-bigger {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-container {
  width: 65%;
  margin: 0 auto;
}

.password-button {
  color: red;
}

/* for recipe card: */
.heart-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: rgb(116, 108, 108);
  font-size: 1.5em;
}

/* for search results */

@media (min-width: 900px) {
  .row-cols-md-3 {
    /* for wide screens, show 6 cards in one row */
    column-count: 4;
  }

  /* adapting the width of individual cards to fit the columns */
  .col {
    width: calc(100% / 4);
  }
}
